src/Afip_res/ws_sr_padron_a5-production.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="PersonaServiceA5" targetNamespace="http://a5.soap.ws.server.puc.sr/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://a5.soap.ws.server.puc.sr/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://a5.soap.ws.server.puc.sr/" version="1.0" xmlns:tns="http://a5.soap.ws.server.puc.sr/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="dummy" type="tns:dummy"/>
<xs:element name="dummyResponse" type="tns:dummyResponse"/>
<xs:element name="getPersona" type="tns:getPersona"/>
<xs:element name="getPersonaResponse" type="tns:getPersonaResponse"/>
<xs:complexType name="getPersona">
    <xs:sequence>
      <xs:element name="token" type="xs:string"/>
      <xs:element name="sign" type="xs:string"/>
      <xs:element name="cuitRepresentada" type="xs:long"/>
      <xs:element name="idPersona" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getPersonaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="personaReturn" type="tns:personaReturn"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="personaReturn">
    <xs:sequence>
      <xs:element minOccurs="0" name="datosGenerales" type="tns:datosGenerales"/>
      <xs:element minOccurs="0" name="datosMonotributo" type="tns:datosMonotributo"/>
      <xs:element minOccurs="0" name="datosRegimenGeneral" type="tns:datosRegimenGeneral"/>
      <xs:element minOccurs="0" name="errorConstancia" type="tns:errorConstancia"/>
      <xs:element minOccurs="0" name="errorMonotributo" type="tns:errorMonotributo"/>
      <xs:element minOccurs="0" name="errorRegimenGeneral" type="tns:errorRegimenGeneral"/>
      <xs:element minOccurs="0" name="metadata" type="tns:metadata"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="datosGenerales">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellido" type="xs:string"/>
      <xs:element minOccurs="0" name="dependencia" type="tns:dependencia"/>
      <xs:element minOccurs="0" name="domicilioFiscal" type="tns:domicilio"/>
      <xs:element minOccurs="0" name="estadoClave" type="xs:string"/>
      <xs:element minOccurs="0" name="fechaContratoSocial" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="idPersona" type="xs:long"/>
      <xs:element minOccurs="0" name="mesCierre" type="xs:int"/>
      <xs:element minOccurs="0" name="nombre" type="xs:string"/>
      <xs:element minOccurs="0" name="razonSocial" type="xs:string"/>
      <xs:element minOccurs="0" name="tipoClave" type="xs:string"/>
      <xs:element minOccurs="0" name="tipoPersona" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="dependencia">
    <xs:sequence>
      <xs:element minOccurs="0" name="codPostal" type="xs:string"/>
      <xs:element minOccurs="0" name="descripcionDependencia" type="xs:string"/>
      <xs:element minOccurs="0" name="descripcionProvincia" type="xs:string"/>
      <xs:element minOccurs="0" name="direccion" type="xs:string"/>
      <xs:element minOccurs="0" name="idDependencia" type="xs:int"/>
      <xs:element minOccurs="0" name="idProvincia" type="xs:int"/>
      <xs:element minOccurs="0" name="localidad" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="domicilio">
    <xs:sequence>
      <xs:element minOccurs="0" name="codPostal" type="xs:string"/>
      <xs:element minOccurs="0" name="datoAdicional" type="xs:string"/>
      <xs:element minOccurs="0" name="descripcionProvincia" type="xs:string"/>
      <xs:element minOccurs="0" name="direccion" type="xs:string"/>
      <xs:element minOccurs="0" name="idProvincia" type="xs:int"/>
      <xs:element minOccurs="0" name="localidad" type="xs:string"/>
      <xs:element minOccurs="0" name="tipoDatoAdicional" type="xs:string"/>
      <xs:element minOccurs="0" name="tipoDomicilio" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="datosMonotributo">
    <xs:sequence>
      <xs:element minOccurs="0" name="actividadMonotributista" type="tns:actividad"/>
      <xs:element minOccurs="0" name="categoriaMonotributo" type="tns:categoria"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="componenteDeSociedad" nillable="true" type="tns:relacion"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="impuesto" nillable="true" type="tns:impuesto"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="actividad">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcionActividad" type="xs:string"/>
      <xs:element minOccurs="0" name="idActividad" type="xs:long"/>
      <xs:element minOccurs="0" name="nomenclador" type="xs:int"/>
      <xs:element minOccurs="0" name="orden" type="xs:int"/>
      <xs:element minOccurs="0" name="periodo" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="categoria">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcionCategoria" type="xs:string"/>
      <xs:element minOccurs="0" name="idCategoria" type="xs:int"/>
      <xs:element minOccurs="0" name="idImpuesto" type="xs:int"/>
      <xs:element minOccurs="0" name="periodo" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="relacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellidoPersonaAsociada" type="xs:string"/>
      <xs:element minOccurs="0" name="ffRelacion" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="ffVencimiento" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="idPersonaAsociada" type="xs:long"/>
      <xs:element minOccurs="0" name="nombrePersonaAsociada" type="xs:string"/>
      <xs:element minOccurs="0" name="razonSocialPersonaAsociada" type="xs:string"/>
      <xs:element minOccurs="0" name="tipoComponente" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="impuesto">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcionImpuesto" type="xs:string"/>
      <xs:element minOccurs="0" name="idImpuesto" type="xs:int"/>
      <xs:element minOccurs="0" name="periodo" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="datosRegimenGeneral">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="actividad" nillable="true" type="tns:actividad"/>
      <xs:element minOccurs="0" name="categoriaAutonomo" type="tns:categoria"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="impuesto" nillable="true" type="tns:impuesto"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="regimen" nillable="true" type="tns:regimen"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="regimen">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcionRegimen" type="xs:string"/>
      <xs:element minOccurs="0" name="idImpuesto" type="xs:int"/>
      <xs:element minOccurs="0" name="idRegimen" type="xs:int"/>
      <xs:element minOccurs="0" name="periodo" type="xs:int"/>
      <xs:element minOccurs="0" name="tipoRegimen" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="errorConstancia">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellido" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="error" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="idPersona" type="xs:long"/>
      <xs:element minOccurs="0" name="nombre" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="errorMonotributo">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="error" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="mensaje" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="errorRegimenGeneral">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="error" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="mensaje" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="metadata">
    <xs:sequence>
      <xs:element minOccurs="0" name="fechaHora" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="servidor" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="dummy">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="dummyResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:dummyReturn"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="dummyReturn">
    <xs:sequence>
      <xs:element minOccurs="0" name="appserver" type="xs:string"/>
      <xs:element minOccurs="0" name="authserver" type="xs:string"/>
      <xs:element minOccurs="0" name="dbserver" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="dummyResponse">
    <wsdl:part element="tns:dummyResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPersona">
    <wsdl:part element="tns:getPersona" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPersonaResponse">
    <wsdl:part element="tns:getPersonaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="dummy">
    <wsdl:part element="tns:dummy" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PersonaServiceA5">
    <wsdl:operation name="getPersona">
      <wsdl:input message="tns:getPersona" name="getPersona">
    </wsdl:input>
      <wsdl:output message="tns:getPersonaResponse" name="getPersonaResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dummy">
      <wsdl:input message="tns:dummy" name="dummy">
    </wsdl:input>
      <wsdl:output message="tns:dummyResponse" name="dummyResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PersonaServiceA5SoapBinding" type="tns:PersonaServiceA5">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getPersona">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getPersona">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPersonaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dummy">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="dummy">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="dummyResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PersonaServiceA5">
    <wsdl:port binding="tns:PersonaServiceA5SoapBinding" name="PersonaServiceA5Port">
      <soap:address location="http://aws.afip.gov.ar/sr-padron/webservices/personaServiceA5"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>