src/Afip_res/ws_sr_padron_a13.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="PersonaServiceA13" targetNamespace="http://a13.soap.ws.server.puc.sr/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://a13.soap.ws.server.puc.sr/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://a13.soap.ws.server.puc.sr/" xmlns:tns="http://a13.soap.ws.server.puc.sr/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="dummy" type="tns:dummy"/>
  <xs:element name="dummyResponse" type="tns:dummyResponse"/>
  <xs:element name="getIdPersonaListByDocumento" type="tns:getIdPersonaListByDocumento"/>
  <xs:element name="getIdPersonaListByDocumentoResponse" type="tns:getIdPersonaListByDocumentoResponse"/>
  <xs:element name="getPersona" type="tns:getPersona"/>
  <xs:element name="getPersonaResponse" type="tns:getPersonaResponse"/>
  <xs:complexType name="dummy">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="dummyResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:dummyReturn"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dummyReturn">
    <xs:sequence>
      <xs:element minOccurs="0" name="appserver" type="xs:string"/>
      <xs:element minOccurs="0" name="authserver" type="xs:string"/>
      <xs:element minOccurs="0" name="dbserver" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getIdPersonaListByDocumento">
    <xs:sequence>
      <xs:element name="token" type="xs:string"/>
      <xs:element name="sign" type="xs:string"/>
      <xs:element name="cuitRepresentada" type="xs:long"/>
      <xs:element name="documento" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getIdPersonaListByDocumentoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="idPersonaListReturn" type="tns:idPersonaListReturn"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="idPersonaListReturn">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="idPersona" nillable="true" type="xs:long"/>
      <xs:element minOccurs="0" name="metadata" type="tns:metadata"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="metadata">
    <xs:sequence>
      <xs:element minOccurs="0" name="fechaHora" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="servidor" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getPersona">
    <xs:sequence>
      <xs:element name="token" type="xs:string"/>
      <xs:element name="sign" type="xs:string"/>
      <xs:element name="cuitRepresentada" type="xs:long"/>
      <xs:element name="idPersona" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getPersonaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="personaReturn" type="tns:personaReturn"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="personaReturn">
    <xs:sequence>
      <xs:element minOccurs="0" name="metadata" type="tns:metadata"/>
      <xs:element minOccurs="0" name="persona" type="tns:persona"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="persona">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellido" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="claveInactivaAsociada" nillable="true" type="xs:long"/>
      <xs:element minOccurs="0" name="descripcionActividadPrincipal" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="domicilio" nillable="true" type="tns:domicilio"/>
      <xs:element minOccurs="0" name="estadoClave" type="xs:string"/>
      <xs:element minOccurs="0" name="fechaContratoSocial" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="fechaFallecimiento" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="fechaNacimiento" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="formaJuridica" type="xs:string"/>
      <xs:element minOccurs="0" name="idActividadPrincipal" type="xs:long"/>
      <xs:element minOccurs="0" name="idPersona" type="xs:long"/>
      <xs:element minOccurs="0" name="mesCierre" type="xs:int"/>
      <xs:element minOccurs="0" name="nombre" type="xs:string"/>
      <xs:element minOccurs="0" name="numeroDocumento" type="xs:string"/>
      <xs:element minOccurs="0" name="periodoActividadPrincipal" type="xs:int"/>
      <xs:element minOccurs="0" name="razonSocial" type="xs:string"/>
      <xs:element minOccurs="0" name="tipoClave" type="xs:string"/>
      <xs:element minOccurs="0" name="tipoDocumento" type="xs:string"/>
      <xs:element minOccurs="0" name="tipoPersona" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="domicilio">
    <xs:sequence>
      <xs:element minOccurs="0" name="calle" type="xs:string"/>
      <xs:element minOccurs="0" name="codigoPostal" type="xs:string"/>
      <xs:element minOccurs="0" name="datoAdicional" type="xs:string"/>
      <xs:element minOccurs="0" name="descripcionProvincia" type="xs:string"/>
      <xs:element minOccurs="0" name="direccion" type="xs:string"/>
      <xs:element minOccurs="0" name="estadoDomicilio" type="xs:string"/>
      <xs:element minOccurs="0" name="idProvincia" type="xs:int"/>
      <xs:element minOccurs="0" name="localidad" type="xs:string"/>
      <xs:element minOccurs="0" name="manzana" type="xs:string"/>
      <xs:element minOccurs="0" name="numero" type="xs:int"/>
      <xs:element minOccurs="0" name="oficinaDptoLocal" type="xs:string"/>
      <xs:element minOccurs="0" name="piso" type="xs:string"/>
      <xs:element minOccurs="0" name="sector" type="xs:string"/>
      <xs:element minOccurs="0" name="tipoDatoAdicional" type="xs:string"/>
      <xs:element minOccurs="0" name="tipoDomicilio" type="xs:string"/>
      <xs:element minOccurs="0" name="torre" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SRValidationException" type="tns:SRValidationException"/>
  <xs:complexType name="SRValidationException">
    <xs:sequence/>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getPersona">
    <wsdl:part element="tns:getPersona" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="dummyResponse">
    <wsdl:part element="tns:dummyResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getIdPersonaListByDocumento">
    <wsdl:part element="tns:getIdPersonaListByDocumento" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPersonaResponse">
    <wsdl:part element="tns:getPersonaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="dummy">
    <wsdl:part element="tns:dummy" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SRValidationException">
    <wsdl:part element="tns:SRValidationException" name="SRValidationException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getIdPersonaListByDocumentoResponse">
    <wsdl:part element="tns:getIdPersonaListByDocumentoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PersonaServiceA13">
    <wsdl:operation name="dummy">
      <wsdl:input message="tns:dummy" name="dummy">
    </wsdl:input>
      <wsdl:output message="tns:dummyResponse" name="dummyResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getIdPersonaListByDocumento">
      <wsdl:input message="tns:getIdPersonaListByDocumento" name="getIdPersonaListByDocumento">
    </wsdl:input>
      <wsdl:output message="tns:getIdPersonaListByDocumentoResponse" name="getIdPersonaListByDocumentoResponse">
    </wsdl:output>
      <wsdl:fault message="tns:SRValidationException" name="SRValidationException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPersona">
      <wsdl:input message="tns:getPersona" name="getPersona">
    </wsdl:input>
      <wsdl:output message="tns:getPersonaResponse" name="getPersonaResponse">
    </wsdl:output>
      <wsdl:fault message="tns:SRValidationException" name="SRValidationException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PersonaServiceA13SoapBinding" type="tns:PersonaServiceA13">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="dummy">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="dummy">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="dummyResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getIdPersonaListByDocumento">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getIdPersonaListByDocumento">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getIdPersonaListByDocumentoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SRValidationException">
        <soap:fault name="SRValidationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPersona">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getPersona">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPersonaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SRValidationException">
        <soap:fault name="SRValidationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PersonaServiceA13">
    <wsdl:port binding="tns:PersonaServiceA13SoapBinding" name="PersonaServiceA13Port">
      <soap:address location="https://awshomo.afip.gov.ar/sr-padron/webservices/personaServiceA13"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>